@{
    Layout = "_Layout";
}
@{
    List<string> frutas = new List<string>(){"maça","banana"};

}
<ul>
    @{
        foreach(string f in frutas)
        {
            <li>@f</li>

        }
    }
</ul>
<div>
    <p>Não sei oque fazer</p>
</div>