@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
    <html>
    <head>
        <title>Primeiro PRograma</title>
    </head>
    <body>
   <h1>pegando as coisas</h1>

   @Html.DisplayTextFor(Model)
    </body>
    </html>